*
{
	margin:0;
	padding:0;
}

fieldset{
	margin:15px;
	padding-bottom:30px;
	padding-top:10px;
	margin-right:200px;
	margin-left:200px;
	padding-left:20px;
	height:500px;
	width:70%;
	border: 6px solid #4B0082;
	background-color:#DDA0DD;
}

h1{
	color:#ffffff;
	font-size:30px;
}

.botao {
	font-size:20px;
	font-weight:bold;
	font-family:arial;
	padding:5px;
	background-color:#4682B4;
	color:#ffffff;
	border-radius:20px;
	margin:5px;
}

input{
	font-size:20px;
	background-color:#EEE8AA;
}

form{
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	font-family:arial;
}

table, td, th{
	border:1px solid #000;
}

table {
	width:910px;
	height:120px;
	table-layout:fixed;
	border-collapse:collapse;
	empty-cells:hide;
}

td, th{
	height:10px;
	vertical-align:middle;
	text-align:center;
	color:#000000;
	font-weight:bold;
	font-size:20px;
}

th{
	background-color:#1E90FF;
	color:#fff;
	font-size:25px;
	font-weight:bold;
}

tr:nth-child(even)
{
	background:#87CEEB;
}

tr:nth-child(odd)
{
	background:#ADD8E6;
}

